@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  // padding: 0.5rem;
}

.nav-link {
  &.active {
    background-color: rgba($color-primary, $alpha: 0.4) !important;

    color: $color-primary-dark !important;
  }
}

.custom-active-link {
  background-color: #ff0000 !important;
  color: #ffffff !important;
}

.btn-primary {
  background: $color-primary !important;
  box-shadow: 0 4px 9px -4px $color-primary-light;

  &:hover {
    box-shadow: 10 4px 9px 44px $color-primary-light !important;
  }
}

.form-control:focus:not(.is-invalid) {
  border-color: $color-primary !important;
}
